@model OnlineBookShopMvc.Models.Order;


<h1>Thanks you for Order!</h1>


		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Book</th>
					<th>Price  | Over all price</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
			@foreach (var item in Model.OrderItems)
			{
			var itemTotal = item.Book.Price * item.Quantity;
			var itemTotalOverAll = (item.Book.Price - (item.Book.Price * item.Book.Discount / 100)) * item.Quantity;
						<tr>
							<td>
								<a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@item.Id"><img src="@item.Book.ImageUrl" style="height: 4em"> </a>
							</td>
							<td>
								<a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@item.Id">@item.Book.Name</a>
							</td>
							<td>
								@itemTotal.ToString()  | @itemTotalOverAll.ToString();
							</td>
							<td>
								@item.Quantity
							</td>

						</tr>
			}
			</tbody>
			<tfoot>
				<td></td>
				<td class="text-right">
					<strong>
						Total:
					</strong>
				</td>
				<td>
					<strong>
					@Model?.OrderTotal.ToString("c")
					</strong>
				</td>

			</tfoot>
		</table>
			
